// @import 'tailwindcss/base';
// @import 'tailwindcss/components';
// @import 'tailwindcss/utilities';

// here is a good spot to MAYBE edit bootstrap's color-scheme?
$primary: rgb(231, 231, 240);
$blueprimary: rgb(58, 110, 194);
$grnprimary: rgb(44, 93, 44);
$font-primary: rgb(42, 41, 41);
$action-clr: rgb(245, 212, 66);

body {
    background-color: $primary !important;
}
// @media only screen and (min-width: 765px) {

// ul.navbar-nav.me-auto{
//     width: 80%;
//     display: flex;
//     align-content: center;
//     justify-content: center;
//     font-size: 1.3em;
// }
// }
body {

}
#action {
    background: rgba(27, 27, 27, 0.438);
    padding: 2rem;
    color: white;
    border-radius: 20px;
    font-weight: 100;
    button {
        margin: 1rem 0;
        width: 100%;
        font-size: 2em;
        font-weight: 600;
    }
}
.btn-action {
    background-color: $action-clr !important;
}
#hero {
    // background-color: black;
    height: 700px;
    width: 100vw;
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.445), rgba(49, 78, 60, 0.452)),
    url('/assets/hero.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#hero-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
    h1 {
        color: white;
    }
    &.hasBorder{
        transition: border-bottom 1s ease;
        border-bottom: 3px solid white;
    }
}
.container.landing {

    // border-left: 1px solid grey;
    // border-right: 1px solid grey;
    // border-radius: 12px;
    //can safely be removed maybe. is a wrapper for the papers
}
#main-wrapper {
         padding-top: 5rem;
        background-color: rgb(212, 189, 182);
}
.paper {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-radius: 12px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    // font-size: 2em;
    padding: 2em;
    background-color: $primary;
    // display: none;
    opacity: 0;
}
.logo-inline {
    color: $grnprimary;
    font-weight: 600;
}
.text-small {
    font-size: 1.7rem !important;
}
.divider {
            height: 70px;
            width: 3px;
            background-color: white;
            margin: 0 3rem;
}
.hidden-1{
    opacity: 0;
}
.hidden-2{
    opacity: 0;
}
.hidden-3{opacity: 0}
.hidden-4{opacity: 0}
.fade-in{
    transition: opacity 2s ease;
    opacity: 1;
    display: block;
}
.fade-in-paper {
    transition: opacity 3s ease;
    opacity: 1;
    display: block;
}
.card {
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
    border-radius: 10px !important;
    padding: 10px 20px;

    &.category {
        text-align: center;
        background-color: $blueprimary;
        &:hover{
            background-color: darken($blueprimary, 10%);
        }
        

        a {
            font-size: 1.2em;
            font-weight: 600;
            color: $primary;
            text-decoration: none;
            // color: $font-primary;
        }
    }
}

.post-grid-title {
    text-decoration: none;

    h4 {
        margin-right: 1rem;
    }
}

.pagination {
    justify-content: center;
}

.tag-post {
    list-style-type: none;
    display: inline;
}

.post-grid-item {
    small {
        position: relative;
    }

    small::before {
        content: '';
        position: absolute;
        background-color: rgb(192, 192, 192);
        height: 1px;
        width: 100%;
        top: 0;
        left: 0;

    }

    small::before {
        content: '';

    }
}

.article {
    margin: 2rem auto;

    h3 {
        text-align: center;
    }
}